@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, #635985 0%, #443C68 33%, #393053 66%, #18122B 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
            animation: AnimateBG 20s ease infinite;
    background-attachment: fixed;
    color: white;
    margin: 0px;
}

.wave{
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    animation-name: wave-animation;
    display: inline-block;
    position: relative;
    transform-origin: 70% 70%;
}
.main-name{
    color: #2746c2;
}

.text1{
    padding-top: 20px;
    width: 98%;
    margin: auto;
}
.text1 h1{
    text-transform: uppercase;
    font-size: 80px;
}

@-webkit-keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


